
@media(max-width: 1600px)
    .header-wrapper
        padding-top: 14px
        padding-bottom: 14px
@media(max-width: 1000px)

@media(max-width: 640px)
    .header-wrapper
        padding-top: 5px
        padding-bottom: 5px
@media(max-width: 320px)