.header
    background-color:#111115

.header-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    color: #fff
    padding-top: 14px
    padding-bottom: 14px
    .header-logo
        font-family:


    .burger-lines
        display: flex
        flex-direction: column
        gap: 2px
        &__line
            width: 18px
            height: 2px
            background-color: #fff
            border-radius: 2px
