.header

.f-100
    font-family: 'Roboto Thin'
.f-300
    font-family: 'Roboto Light'
.f-400
    font-family: 'Roboto Regular'
.f-500
    font-family: 'Roboto Medium'
.bold
    font-family: 'Roboto Bold'