// @use './sass/_header-mediaQueries' - example of including partial media-queries file.

.content-container
    max-width: 1160px
    margin: 0 auto
    @media screen and (max-width: 1600px)

    @media screen and (max-width: 1000px)
        max-width: 940px
    @media screen and (max-width: 640px)
        max-width: 600px
    @media screen and (max-width: 320px)
        max-width: 300px

.main-container
    max-width: 1600px
    margin: 0 auto
    @media screen and (max-width: 1600px)
        max-width: 1600px
    @media screen and (max-width: 1000px)
        max-width: 1000px
    @media screen and (max-width: 640px)
        max-width: 640px
    @media screen and (max-width: 320px)
        max-width: 320px